* {
    box-sizing: border-box;
}


.header {
    height: auto; border: 2px solid black;
    width: 100vw;
    background-color: purple;
    color: white;
    position: fixed;
    top: 0;
    margin: 5px;
    padding: 10px;
}

h1 {
    margin-top: 100px;
}


ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    margin-left: 50px;
}

#demo {
    color: darkslateblue;
}

div li {
    color: darkslategray;
}

div > p {
    color: peachpuff;
    background-color: black;
}

div + footer {
    height: auto;
    width: 100vw;
    background-color: blue;
    color: white;
}


@-webkit-keyframes animationer {
    0%   { opacity: 0; }
    100% { opacity: 1; }
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
  }
  @-moz-keyframes animationer {
    0%   { opacity: 0; }
    100% { opacity: 1; }
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
  }
  @-o-keyframes animationer {
    0%   { opacity: 0; }
    100% { opacity: 1; }
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
  }
  @keyframes animationer {
    0%   { opacity: 0; }
    100% { opacity: 1; }
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
  }

  #demo {
    -webkit-animation: animationer 3s infinite; /* Safari 4+ */
    -moz-animation:    animationer 3s infinite; /* Fx 5+ */
    -o-animation:      animationer 3s infinite; /* Opera 12+ */
    animation:         animationer 3s infinite; /* IE 10+, Fx 29+ */
  }

  body {
      background-image: url('https://st2.depositphotos.com/3322803/7014/v/950/depositphotos_70147371-stock-illustration-grunge-background-seamless-pattern-repeating.jpg')
  }